name = "currency-converter-api"
main = "src/index.ts"
compatibility_date = "2026-01-14"
compatibility_flags = ["nodejs_compat"]

[dev]
port = 8787

[env.production]
# No route defined here; use --route flag

[env.preview]
# Template for preview environments